@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f1217;
  --secondary-color: #ffffff;
  --tertiary-color: #cccccc;
  --accent-color: red;

  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.page-wrapper {
  min-height: calc(100vh - 2.5rem);
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 6rem;
  overflow: hidden;
  border-bottom-width: 2px;
}

.pill {
  --tw-bg-opacity: 1;
  background-color: rgb(35 35 35 / var(--tw-bg-opacity));
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 0.7rem;
  font-weight: 350;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 1.5rem;
  }
}
